<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./assets/image/logohufi.png" />
    <title>Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh</title>
    <%- include('../partials/user/linkAssets') -%>
    
</head>

<body>
    <%- include('../partials/user/header') -%>

    <div class="home">
        <div class="home__background"></div>
        <div class="grid wide">
            <div class="row">
                <div class="home__container__slider">
                    <div class="home__container__slider--content">
                        <h1 class="home__container__slider--content1">Welcome</h1>
                        <h1 class="home__container__slider--content1">To</h1>
                        <h1 class="home__container__slider--content3">HUFI</h1>
                    </div>
                    <div class="home__container__slider--btn">
                        <div class="btn__bgc"></div>
                        <a href="#">Tìm hiểu ngay
              <span></span>
              <span></span>
              <span></span>
            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <div class="tour">
        <div class="grid wide">
            <div class="tour__container">
                <div class="tour__container__content">
                    <h2>Thông tin cơ quan thẩm quyền</h2>
                    <p>
                        Trường Đại học Công nghiệp Thực phẩm Tp.Hồ Chí Minh.<br /> Hiện tại Trường có 1 hiệu trưởng và 2 phó hiệu trưởng lãnh đạo.
                    </p>
                </div>
                <div class="tour__container__items">
                    <div class="row">
                        <div class="col l-4 m-12 c-12">
                            <div class="tour__container__item">
                                <div class="item__overlay"></div>
                                <div class="item__background" style="background-image: url(image/hieutruong.jpg);"></div>

                                <div class="item__content">

                                    <div class="item_center">
                                     
                                    </div>
                                </div>
                            </div>
                            <figcaption class="namehieutruong">PGS-TS. NGUYỄN XUÂN HOÀN</figcaption>

                        </div>
                        <div class="col l-4 m-12 c-12">
                            <div class="tour__container__item">
                                <div class="item__overlay"></div>
                                <div class="item__background" style="
                      background-image: url(./assets/image/phohieutruong1.jpg);
                    "></div>
                                <div class="item__content">

                                    <div class="item_center">
                                       
                                    </div>
                                </div>
                            </div>
                            <figcaption class="namehieupho">PGS-TS. LÊ THỊ HỒNG ÁNH</figcaption>

                        </div>
                        <div class="col l-4 m-12 c-12">
                            <div class="tour__container__item">
                                <div class="item__overlay"></div>
                                <div class="item__background" style="
                      background-image: url(./assets/image/phohieutruong2.jpg);
                    "></div>
                                <div class="item__content">

                                    <div class="item_center">
                                       
                                    </div>
                                </div>
                            </div>
                            <figcaption class="namehieupho">TS. THÁI DOÃN THANH</figcaption>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="package">
        <div class="package__background" style="
          background-image: url(./assets/image/hufi2020.jpg);
        "></div>
        <div class="package__container">
            <div class="grid wide">
                <div class="package__container___body">
                    <div class="package__container___body--content">
                        <div class="body--content__cta">
                            <h2>Reivew ! Checkin !</h2>
                            <p>Top 58 Việt Nam</p>
                            <div class="item_rating">

                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <p>
                                Trường Đại học Công nghiệp Thực phẩm Tp.Hồ Chí Minh đã được Trung tâm Kiểm định chất lượng giáo dục Đại học Quốc gia TPHCM chính thức trao chứng nhận đạt kiểm định chất lượng vào năm 2017. Nhà trường đang hướng tới đào tạo sinh viên phát triển toàn diện
                                kiến thức chuyên môn và kỹ năng nghề nghiệp, đảm nhận tốt công việc trong môi trường hội nhập quốc tế.
                            </p>
                        </div>
                        <div class="item--btn">
                            <div class="btn__bgc"></div>
                            <a href="https://www.webometrics.info/en/Asia/Vietnam" target="_blank">Go check
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offers">
        <div class="offers__container">
            <div class="grid wide">
                <h2>Sự kiện</h2>
                <div class="row offers__container__items">
                    <div class="col l-6 m-12 c-12 s-12">
                        <div class="offer__container__item">
                            <div class="row">
                                <div class="col l-6 m-6 c-6 s-12">
                                    <div class="offer__item__img--container">
                                        <div class="offer__item__img" style="background-image: url(image/sukien1.png);"></div>
                                        <div class="offer__container__item-name">
                                            <a href="https://hufi.edu.vn/su-kien/dai-hoi-dai-bieu-doan-tncs-ho-chi-minh-truong-dai-hoc-cong-nghiep-thuc-pham-tp-hcm-lan-thu-xv-nhiem-ky-2022-2024">
                                                <h3>Đại Hội</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-6 m-6 c-6 s-12">
                                    <div class="offer__container__item--content">
                                        <div class="offers__item__price">
                                            Đại hội Đại biểu
                                        </div>
                                        <a href="https://hufi.edu.vn/su-kien/dai-hoi-dai-bieu-doan-tncs-ho-chi-minh-truong-dai-hoc-cong-nghiep-thuc-pham-tp-hcm-lan-thu-xv-nhiem-ky-2022-2024">
                                            <p class="content_sukien">
                                                ĐẠI HỘI ĐẠI BIỂU ĐOÀN TNCS HỒ CHÍ MINH TRƯỜNG ĐẠI HỌC CÔNG NGHIỆP THỰC PHẨM TP. HCM LẦN THỨ XV, NHIỆM KỲ 2022-2024
                                            </p>
                                        </a>                                      
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l-6 m-12 c-12 s-12">
                        <div class="offer__container__item">
                            <div class="row">
                                <div class="col l-6 m-6 c-6 s-12">
                                    <div class="offer__item__img--container">
                                        <div class="offer__item__img" style="
                          background-image: url(./assets/image/sukien2.jpg);
                        "></div>
                                        <div class="offer__container__item-name">
                                            <a href="#">Hội thảo</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-6 m-6 c-6 s-12">
                                    <div class="offer__container__item--content">
                                        <div class="offers__item__price">
                                            Hội thảo Công nghệ

                                        </div>
                                       
                                        <a href="https://hufi.edu.vn/su-kien/2652022-hoi-thao-khoa-hoc-chemometrics-2022-quotchemometrics-va-ung-dungquot">
                                            <p class="content_sukien">26/5/2022 - Hội thảo khoa học Chemometrics 2022: "Chemometrics và ứng dụng "
                                            </p>
                                        </a>
                                       
                                        <a href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="testimonials">
        <div class="test_border"></div>
        <div class="grid wide">
           
        </div>
    </div>

    <div class="trending">
        <div class="grid wide">
            <div class="trending__container">
                <h2>Phòng Ban</h2>
                <div class="trending__container__content">
                    <div class="row">
                        <div class="col l-3 m-4 c-6">
                            <div class="row treding__container__item">
                                
                                <div class="trending__content__text">
                                    <a href="https://ts.hufi.edu.vn/" target="_blank">Tuyển sinh</a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-4 c-6">
                            <div class="row treding__container__item">
                               
                                <div class="trending__content__text">
                                    <a href="https://fit.hufi.edu.vn/" target="_blank">Khoa CNTT</a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-4 c-6">
                            <div class="row treding__container__item">
                                
                                <div class="trending__content__text">
                                    <a href="https://fbat.hufi.edu.vn/" target="_blank">Khoa QTKD</a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-4 c-6">
                            <div class="row treding__container__item">
                                
                                <div class="trending__content__text">
                                    <a href="https://thuvien.hufi.edu.vn/" target="_blank">Thư điện tử</a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-4 c-6">
                            <div class="row treding__container__item">
                             
                                <div class="trending__content__text">
                                    <a href="https://foodtech.hufi.edu.vn/" target="_blank">Khoa CNTP</a>
                             
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-4 c-6">
                            <div class="row treding__container__item">
                           
                                <div class="trending__content__text">
                                    <a href="https://kctl.hufi.edu.vn/" target="_blank">Khoa Chính Trị-Luật</a>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-0 c-0">
                            <div class="row treding__container__item">
                               
                                <div class="trending__content__text">
                                    <a href="#">Phòng Đào Tạo</a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-0 c-0">
                            <div class="row treding__container__item">
                                
                                <div class="trending__content__text">
                                    <a href="#">Phòng CTSV</a>
                                    <!-- <div class="trending__content--price">Form $182</div>
                                    <span>Madrid, spain</span> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/user/footer') -%>
  

    
</body>
</html>