<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else {
      // The person is not logged into your app or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '775933726909214',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v14.0' // Specify the Graph API version to use
  });
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  /*
  https://www.facebook.com/v14.0/dialog/oauth?
  client_id=775933726909214
  &redirect_uri=https%3A%2F%2Fhufievent.herokuapp.com%2F
  &state=2389489732

  https://graph.facebook.com/v6.0/oauth/access_token?redirect_uri=https%3A%2F%2Fhufievent.herokuapp.com%2F&client_id=775933726909214&client_secret=305bddf50063f57e61be43db4a959516&code=AQBWE9bKNiJ_aSeJKyzd0c6MaZ66yS_N0EBmZ7mH8X-eIc-x-2EnR5fIpGfMYHz_Mme9-JVqaRt27vl3kIBOSLeSC_C8IspR3FH7ZUzDNuN4wZWGXGwxAWocfOGmn7gCzeblegI8LxMXvAiYqsbCkyAfDgt1C7xBUCKXhL4JGXJ07Z6hh4KOhACcvb_ElvUZpUlMDcWhmkkvP8GxV-YMgGHEiKIlhbKzzrU3ysl39sQi5qGi_IwXntQRnOfAVuFm_9Ij1SQMBZ7UTJiMsC5xk1xPT3ifazky4IiJUdR5K8jzt4xgv2_4TA5qrdhUgwKv_lBV1hiLOWxO5sVSl67QiJ-zw3Uk0w28FfrpbvPzYHlFtAYCyWzmWaJwNGz5RgLf1tGFuONiUTKviPMSxH-FeKd4X0mql40pE9YHsP7Nh8FaG_L-m-sp7630cl4nJAlsw04

  EAALBtSYpYx4BAEJbEOgxAEHvZCZBM8zYENF6dVukaIAXFMWtZAz8E2ygZC7mWQkEzThpO1uwiZCZCxaNIbx3V39rxP9jbZAFuw87wwRP7romC9oRCJZCTPeZBo4IjiBeuIWZArH4P02enUGH7zPyTE5CBkgXYFEHX4SzsZCu1fzdRVjdmqOkzDUZAuOtnAts7EoF352NWTbm1ZBX8M2T6WkZAlfQJs4TkkVMDfubRfRatD5UDojRbezZAgqxtB7
  curl -H "Accept: application/json" -H "Authorization: Bearer EAALBtSYpYx4BAEJbEOgxAEHvZCZBM8zYENF6dVukaIAXFMWtZAz8E2ygZC7mWQkEzThpO1uwiZCZCxaNIbx3V39rxP9jbZAFuw87wwRP7romC9oRCJZCTPeZBo4IjiBeuIWZArH4P02enUGH7zPyTE5CBkgXYFEHX4SzsZCu1fzdRVjdmqOkzDUZAuOtnAts7EoF352NWTbm1ZBX8M2T6WkZAlfQJs4TkkVMDfubRfRatD5UDojRbezZAgqxtB7" "https://graph.facebook.com/me"

  */
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log(response.email)
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
    FB.login(function(response) {
    if (response.authResponse) {
     console.log('Welcome!  Fetching your information.... ');
     FB.api('/me', function(response) {
       console.log('Good to see you, ' + response.name + '.');
     });
    } else {
     console.log('User cancelled login or did not fully authorize.');
    }
}, {scope: 'public_profile,email'});
  }
</script>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

</body>
</html>