<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./assets/image/logohufi.png" />
    <title>Lịch sử - Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh - PPC</title>
    <%- include('../partials/user/linkAssets') -%>

</head>

<body>
    <%- include('../partials/user/header') -%>



    <div class="offers">
        <div class="offers__container">
            <div class="grid wide">
                <!-- <h2>Lịch Sử</h2> -->
                <div class="row offers__container__items">
                    <div class="col-l-6">
                        <h1 class="article-title">

                        </h1>
                        <div class="post-content">
                            <div class="post-summary-header">
                                <!-- start body hisotry -->
                                <ul class="post-data col-left" itemprop="datePublished">
                                    <li>
                                        <i class="fa fa-calendar"></i> &nbsp;02/12/2019
                                    </li>
                                </ul>
                                <div class="post-body not-copy content_bold">
                                    <p style="text-align: center;padding: 20px 0 ;">
                                        <span style="color: #e67e23; font-size: 12pt;">
                                            <strong>
                                                <span style="text-align: justify;">LỊCH SỬ PHÁT TRIỂN</span>
                                        </strong>
                                        </span>
                                    </p>
                                    <p>
                                        <span style="font-size: 14.6667px; text-align: justify;">1982: Sau ngày thống nhất đất nước, nhu cầu cán bộ công nhân viên chức các ngành, các địa phương ở miền Nam rất lớn. Ngày 09/09/1982 Bộ Công nghiệp Thực phẩm ban hành quyết định 986/CNTP về việc thành lập trường Kinh tế Kỹ thuật Công nghiệp Thực phẩm TP. Hồ Chí Minh nhằm bồi dưỡng, đào tạo đội ngũ cán bộ kinh tế kỹ thuật cho ngành công nghiệp thực phẩm tại phía Nam.</span>
                                        <br style="font-size: 14.6667px; text-align: justify;">
                                        <br style="font-size: 14.6667px; text-align: justify;">
                                        <span style="font-size: 14.6667px; text-align: justify;">1986: Đại hội lần thứ VI của Đảng xác định đất nước tiến hành đổi mới, nền kinh tế khởi sắc kéo theo nhu cầu lao động là rất lớn. Bộ trưởng Bộ Công nghiệp Thực phẩm (tiền thân của Bộ Công nghiệp) đã ký quyết định số 25/CNTP-TCCB, nâng cấp thành Trường Trung học Công nghiệp Thực phẩm TP. Hồ Chí Minh nhằm đáp ứng việc đào tạo nhân lực kỹ thuật lành nghề về Công nghiệp Thực phẩm.</span>
                                        <br style="font-size: 14.6667px; text-align: justify;">
                                        <br style="font-size: 14.6667px; text-align: justify;">
                                        <span style="font-size: 14.6667px; text-align: justify;">2001: Với quyết tâm của các thế hệ công chức viên chức là đưa nhà trường phát triển lên tầm cao mới, kết quả phấn đấu không ngừng nghỉ đã được đền đáp là Bộ trưởng Bộ Giáo dục và Đào tạo ký quyết định số 18/QĐ-BGD&ĐT-TCCB, nâng cấp thành Trường Cao đẳng Công nghiệp Thực phẩm TP. Hồ Chí Minh.</span>
                                        <br style="font-size: 14.6667px; text-align: justify;">
                                        <br style="font-size: 14.6667px; text-align: justify;">
                                        <span style="font-size: 14.6667px; text-align: justify;">2010: Xu thế hội nhập và kết quả phát triển không ngừng của nhà trường, từ ngày 23/02/2010 trường chính thức trở thành Trường Đại học Công nghiệp Thực phẩm TP. Hồ Chí Minh theo quyết định số 284/QĐ-TTG của Thủ tướng Chính phủ.</span>
                                        <br style="font-size: 14.6667px; text-align: justify;">
                                        <br style="font-size: 14.6667px; text-align: justify;">
                                    </p>
                                    <p style="text-align: center;">
                                        <span style="font-size: 14.6667px; text-align: justify;"><img src="./assets/image/bgh-cac-thoi-ky-final2.jpg" width="100%"></span>
                                    </p>
                                </div>
                                <div class="posts-relate-content">
                                    <p style="padding-left: 26px;padding-top: 20px;">
                                        <strong>Xem thêm :</strong>
                                    </p>
                                    <ul class="list-item">
                                        <li>
                                            <a title="Infographics: 20 sự kiện nổi bật của Trường Đại học Công nghiệp Thực phẩm TPHCM năm 2021" href=".//gioi-thieu/infographics-20-su-kien-noi-bat-cua-truong-dai-hoc-cong-nghiep-thuc-pham-tphcm-nam-2021">
                                                Infographics: 20 sự kiện nổi bật của Trường Đại học Công nghiệp Thực phẩm TPHCM năm 2021
                                                <span class="badge badge-warning hide">Mới</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Năm học 2021-2022" href=".//gioi-thieu/nam-hoc-2021-2022">
                                                Năm học 2021-2022
                                                <span class="badge badge-warning hide">Mới</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Kỷ yếu 35 năm thành lập HUFI" href=".//gioi-thieu/ky-yeu-35-nam-thanh-lap-hufi">
                                                Kỷ yếu 35 năm thành lập HUFI
                                                <span class="badge badge-warning hide">Mới</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Kỷ yếu hội nghị khoa học an toàn thực phẩm và an ninh lương thực lần 3 năm 2019" href=".//gioi-thieu/ky-yeu-hoi-nghi-khoa-hoc-an-toan-thuc-pham-va-an-ninh-luong-thuc-lan-3-nam-2019">
                                                Kỷ yếu hội nghị khoa học an toàn thực phẩm và an ninh lương thực lần 3 năm 2019
                                                <span class="badge badge-warning hide">Mới</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Kỷ yếu hội nghị khoa học an toàn thực phẩm và an ninh lương thực lần 2 năm 2018" href=".//gioi-thieu/ky-yeu-hoi-nghi-khoa-hoc-an-toan-thuc-pham-va-an-ninh-luong-thuc-lan-2-nam-2018">
                                                Kỷ yếu hội nghị khoa học an toàn thực phẩm và an ninh lương thực lần 2 năm 2018
                                                <span class="badge badge-warning hide">Mới</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <div class="col-md-3 menu_right">
                        <div class="sticky" style>
                            <div class="widget-wNewType-TopSide" id="wNewType">
                                <div class="widget-title">
                                    <h3 class="title-h3" style="text-align: center;">TIN TỨC HOẠT ĐỘNG</h3>
                                </div>
                                <ul class="getMenu" data-type="GioiThieu">
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href=".//gioi-thieu/thong-diep-cua-hieu-truong-truong-dai-hoc-cong-nghiep-thuc-pham-tp-ho-chi-minh" title="Thông điệp Hiệu trưởng">
                                           Thông điệp Hiệu trưởng</a>
                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href=".//gioi-thieu/lich-su-phat-trien/" title="Lịch sử phát triển">
                                            Lịch sử phát triển</a>
                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>

                                        <a target="" href=".//gioi-thieu/su-mang-tam-nhin" title="Sứ mạng - Tầm nhìn">
                                            Sứ mạng - Tầm nhìn</a>


                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href=".//gioi-thieu/gia-tri-cot-loi-triet-ly-giao-duc" title="Giá trị cốt lõi - Triết lý giáo dục">
                                            Giá trị cốt lõi - Triết lý giáo dục</a>


                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href=".//so-do-to-chuc" title="Sơ đồ tổ chức">
                                            Sơ đồ tổ chức</a>


                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href=".//gioi-thieu/ban-giam-hieu" title="Ban Giám hiệu đương nhiệm">
                                            Ban Giám hiệu đương nhiệm</a>


                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href=".//gioi-thieu/co-so-vat-chat" title="Cơ sở vật chất">
                                            Cơ sở vật chất</a>


                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href=".//gioi-thieu/nhan-dien-thuong-hieu-hufi" title=" Nhận diện thương hiệu HUFI">
                                             Nhận diện thương hiệu HUFI</a>


                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href=".//gioi-thieu/ky-yeu-hufi.html" title="Kỷ yếu HUFI">
                                            Kỷ yếu HUFI</a>
                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href=".//gioi-thieu/ba-cong-khai.html" title="Ba công khai">
                                            Ba công khai</a>


                                    </li>
                                    <li class="menu-ct-item">
                                        <i class="ti-angle-double-right"></i>
                                        <a target="" href="./javascript:void(0);" title="Thành tựu">
                                            Thành tựu</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="widgets-wDepartmentSide" id="wDepartmentSide">
                                <div class="widget-title">
                                    <h3><a href=".//media">Video | Audio | Hình ảnh</a></h3>
                                </div>
                                <div class="body-ds" id="ContentDepartmentSide">
                                    <div id="divVideoSide" class="video-container" style="position: relative;"><img class="video-mark" src="./assets/images/video/2414123123.jpg" style="display: none;"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/JA2OXRlfED4?rel=0&amp;vq=large" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen=""></iframe></div>
                                    <ul id="listVideo" class="video-list">

                                        <li>
                                            <i class="ti-angle-double-right"></i>
                                            <a data-video="https://www.youtube.com/watch?v=JA2OXRlfED4">
                                                    Khám phá Ký túc xá HUFI</a>
                                        </li>

                                        <li>
                                            <i class="ti-angle-double-right"></i>
                                            <a data-video="https://www.youtube.com/watch?v=r70iwEBNiiU">
                                                    Khám phá môi trường học tập xịn sò tại HUFI</a>
                                        </li>

                                        <li>
                                            <i class="ti-angle-double-right"></i>
                                            <a data-video="https://www.youtube.com/watch?v=XiubNlBnUd8">
                                                    Trường Đại học Công nghiệp Thực phẩm TP.HCM</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="pano-side">
                                <h4 class="tuyen-sinh" style="font-size: 15px; color: blue;text-transform: uppercase;padding: 20px 0 20px 0;margin-top: 10px; text-align: center;background-color: #f3f6f9">trang tuyển sinh</h4>
                                <a style="margin-bottom:15px;position:relative;display:block" href="./https://ts.hufi.edu.vn/tin-tuyen-sinh/truong-dai-hoc-cong-nghiep-thuc-pham-tp-hcm-du-kien-phuong-an-tuyen-sinh-nam-2021" target="_blank">
                                    <img src="./assets/image/tuyensinh2022.jpg" alt="" width="100%" height="100%" />
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/user/footer') -%>

</body>

</html>