<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="apb2mhhM5XiEL2hr2gBpQEQe0XsHW6OlHmIlLLKIJOU" />
    <meta name="google-signin-client_id" content="330621606496-je8emkan6vlsk6bkrgmavst9h94ajsf7.apps.googleusercontent.com">
    <meta name="description" content="Hufievent! Một chương trình game đơn giản cho mọi người.">
    <title>PPC</title>
    <link rel="stylesheet" href="./assets/css/custom.css">
</head>
<body>
    <div class="fade-warning"></div>
    <div class="box">
        <!-- <div class="bg">
            <div class="cloud">123</div>
            <div class="mountains">123</div>
            <div class="sand">123</div>
        </div> -->
        <div class="menu user fixed">
            <div class="container">
                <div class="welcome-user">
                    <div class="box-user">
                        <p>Chào: <strong id="username">Akomaneol</strong></p>
                        <ul class="panel">
                            <li>
                                <a href="/admin">Admin</a>
                            </li>
                            <li>
                                <a href="/user" id="user-setting">Cài đặt</a>
                            </li>
                            <li>
                                <a href="javascript:;" id="user-signout">Đăng xuất</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="notification hide">
            <div class="notify">
                Không thể đăng nhập vào phòng này
            </div>
        </div>
        <div class="modal hide" type-model="modal" id="sign-in">
            <div class="modal-main bg-success modal-sm">
                <div class="modal-head">Đăng Nhập</div>
                <div class="modal-body">
                    <form>
                        <div class="tab tab-signin">
                            <input type="email" placeholder="Nhập email...">
                            <input type="password" placeholder="Nhập mật khẩu...">
                            <button>Đăng Nhập</button>
                            <div class="grid">
                                <button href="javascript:;" class="btn-a" id="btn-o-signup" type-model="tab" target=".tab-signup">Tạo tài khoản.</button>
                                <button href="javascript:;" class="btn-a" id="btn-forgot" type-model="tab" target=".tab-forgot">Quên mật khẩu?</button>
                            </div>
                        </div>
                        <div class="tab tab-signup hide">
                            <input type="text" placeholder="Nhập tên tài khoản...">
                            <input type="email" placeholder="Nhập email...">
                            <input type="password" placeholder="Nhập mật khẩu...">
                            <button>Đăng ký</button>
                            <div class="grid">
                                <button href="javascript:;" class="btn-a" id="btn-o-signin" type-model="tab" target=".tab-signin">Có tài khoản? Đăng nhập.</button>
                            </div>
                        </div>
                        <div class="tab tab-forgot hide">
                            <p>Nhập email và sau đó chúng tôi sẽ gởi email cho các bạn.</p>
                            <input type="email" placeholder="Nhập email...">
                            <button>Gởi</button>
                            <div class="grid">
                                <button href="javascript:;" class="btn-a" id="btn-o-signin" type-model="tab" target=".tab-signin">Có tài khoản? Đăng nhập.</button>
                            </div>
                        </div>
                        <center>
                            <div class="g-signin2" data-onsuccess="onSignIn"></div>
                        </center>
                    </form>
                </div>
                <!-- <div class="modal-foot">Modal foot</div> -->
            </div>
        </div>
        <div class="main container">
            
            <div class="triangle">
                <div class="form">
                    <div class="loading-bar hide">
                        <div class="loading"></div>
                    </div>
                    <form class="" style="text-align: center" id="form-data" step="1">
                        <input type="text" id="id-room" placeholder="Nhập mã phòng" autofocus autocomplete="off" required>
                        <div class="space-btn">
                            <button type="submit" class="bg-success" id="btn-join">Tham Gia</button>
                        </div>
                        <div class="space-btn">
                            <button type="button" id="btn-create-room" >Tạo phòng</button>
                        </div>
                        <a href="javascript:;" class="btn-a" id="btn-sign-in" target="#sign-in" type-model="modal">Đăng nhập</a>
                    </form>
                    <form class="hide" id="next-step" box-setting-room-player step="2">
                        <h1 class="id-room text-center" room-name="true"></h1>
                        <input type="text" placeholder="Nhập tên" name="username" id="username" autofocus value="Ako">
                        <div class="main hide" id="box-setting"> 
                            <select name="topic" id="inp-topic">
                                <option value="-1" disabled selected>Chủ đề random</option>
                                <option value="1">Sinh hoạt công dân đầu khóa</option>
                                <option value="2">Sinh hoạt công dân giữa khóa</option>
                            </select>
                            <label>Số lượng người chơi</label>
                            <div class="group-input">
                                <input type="number" value="10" min="1" name="limit-players" id="inp-limit-players">
                                <span>/100</span>
                            </div>
                            <label>Số lượng câu hỏi</label>
                            <div class="group-input">
                                <input type="number" value="5" min="1" name="limit-questions" id="inp-limit-questions">
                                <span>/50</span>
                            </div>
                            <label>Thời gian(s)</label>
                            <div class="group-input">
                                <input type="number" value="5" min="5" name="limit-time" id="inp-limit-time">
                                <span>/60</span>
                            </div>
                            <label for="stop" class="text-center">Dừng mỗi màn</label>
                            <input type="checkbox" id="stop" name="stop" checked>
                        </div>
                        <div class="grid">
                            <button type="button" class="btn-a" id="back-form">&larr; Trở về</button>
                            <button type="submit" class="btn-a" id="btn-next-step">Bắt đầu &rarr;</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="queue-room hide">
               <div class="room-brand" id="list-user-queue">
                   
               </div>
               <div class="room-status">
                   <div id="status-info">
                       <p><span id="total-user">00</span>/<span id="limit-user">00</span></p>
                       <button class="btn-sm" id="btn-start-game" style="margin-left: 5px" id="startGame">Bắt đầu</button>
                   </div>
                   <div id="volume">
                       <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g data-name="Layer 2"><g data-name="volume-down"><rect width="24" height="24" opacity="0"/><path d="M20.78 8.37a1 1 0 1 0-1.56 1.26 4 4 0 0 1 0 4.74A1 1 0 0 0 20 16a1 1 0 0 0 .78-.37 6 6 0 0 0 0-7.26z"/><path d="M16.47 3.12a1 1 0 0 0-1 0L9 7.57H4a1 1 0 0 0-1 1v6.86a1 1 0 0 0 1 1h5l6.41 4.4A1.06 1.06 0 0 0 16 21a1 1 0 0 0 1-1V4a1 1 0 0 0-.53-.88zM15 18.1l-5.1-3.5a1 1 0 0 0-.57-.17H5V9.57h4.33a1 1 0 0 0 .57-.17L15 5.9z"/></g></g></svg>
                       <input type="range" class="hide" min="0" max="10" value="7">
                   </div>
               </div>
               <div class="room-footer">
                   <div id="room-name" room-name="true">
                   </div>
               </div>
            </div>
        </div>
        <div class="process-bar hide" id="main-loading">
            <div class="process run-process size-l"></div>
        </div>
        <div class="game hide">
            <div class="header">
                <div class="process-bar">
                    <div class="process" id="timeline"></div>
                </div>
                <div class="header-main bg-success">
                    <div class="title-question">
                        Loading...
                    </div>
                </div>
                <button class="btn-a hide" style="position: absolute;right:0;text-align: right;" id="next-round">Next</button>
            </div>
            <div class="main container" id="rank">
                <div class="col-rank" index="0">
                    <label class="val">10</label>
                    <div class="col"></div>
                    <label>A</label>
                </div>
                <div class="col-rank" index="1">
                    <label class="val">10</label>
                    <div class="col"></div>
                    <label>B</label>
                </div>
                <div class="col-rank" index="2">
                    <label class="val">10</label>
                    <div class="col"></div>
                    <label>C</label>
                </div>
                <div class="col-rank" index="3">
                    <label class="val">10</label>
                    <div class="col"></div>
                    <label>D</label>
                </div>
            </div>
            <div class="main container-fluid" show="0" id="list-answers">
                <div class="box-answer">
                    <div class="box-main" index="0" onclick="checkAns(this)">
                        <p class="title-answer" id="ans"></p>
                    </div>
                </div>
                <div class="box-answer">
                    <div class="box-main" index="1" onclick="checkAns(this)">
                        <p class="title-answer" id="ans"></p>
                    </div>
                </div>
                <div class="box-answer">
                    <div class="box-main" index="2" onclick="checkAns(this)">
                        <p class="title-answer" id="ans"></p>
                    </div>
                </div>
                <div class="box-answer">
                    <div class="box-main" index="3" onclick="checkAns(this)">
                        <p class="title-answer" id="ans"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main container hide" view="rank">
            <table class="boardScore">
                <thead>
                    <!-- <th>Rank</th> -->
                    <th class="text-left">Name</th>
                    <th>Score</th>
                </thead>
                <tbody class="viewRank">
                    <tr>
                        <td colspan="3">Loading...</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="control-panel hide">
            <button id="btn-play-again" class="bg-success">Chơi Lại</button>
        </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.min.js"></script>
    <!-- <script src="./assets/js/game.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="./assets/js/script.js"></script>    
</body>
</html>