<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPC</title>
    <link rel="stylesheet" href="./assets/css/custom.css">
</head>
<body>
    <div class="box">
        <div class="main container">
            <form class="form">
                <!-- <h1>PPC</h1> -->
                <input type="text" id="id-room" placeholder="Nhập mã phòng" autofocus autocomplete="off" required>
                <div class="space-btn">
                    <button type="submit" class="bg-success" id="btn-join">Tham Gia</button>
                </div>
                <div class="space-btn">
                    <button type="button" id="btn-create-room" >Tạo phòng</button>
                </div>
            </form>
        </div>
        <!-- <div class="header">
            <div class="process-bar">
                <div class="process"></div>
            </div>
            <div class="header-main bg-success">
                <div class="title-question">
                    Có tất cả bao nhiêu thuật toán sắp xếp trong lập trình ?
                </div>
            </div>
        </div>

        <div class="main container">
            <div class="box-answer">
                <div class="box-main" id="ans" index="0" onclick="checkAns(this)">
                    <p class="title-answer">5</p>
                </div>
            </div>
            <div class="box-answer">
                <div class="box-main" id="ans" index="0" onclick="checkAns(this)">
                    <p class="title-answer">8</p>
                </div>
            </div>
            <div class="box-answer">
                <div class="box-main" id="ans" index="0" onclick="checkAns(this)">
                    <p class="title-answer">11</p>
                </div>
            </div>
            <div class="box-answer">
                <div class="box-main" id="ans" index="0" onclick="checkAns(this)">
                    <p class="title-answer">16</p>
                </div>
            </div>
        </div> -->
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./assets/js/script.js"></script>
</body>
</html>