<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>PPC</title>
    <link rel="stylesheet" href="./assets/css/custom.css">
</head>
<body>
    <div class="box">
        <div class="process-bar hide" id="main-loading">
            <div class="process size-l"></div>
        </div>
        <div class="main container" id="queue">
            <form class="form" step="1">
                <div class="loading-bar hide">
                    <div class="loading"></div>
                </div>
                <div id="message-success"></div>
                <div id="form-data" step="1">
                    <input type="text" id="id-room" placeholder="Nhập mã phòng" autofocus autocomplete="off" required>
                    <div class="space-btn">
                        <button type="submit" class="bg-success" id="btn-join">Tham Gia</button>
                    </div>
                    <div class="space-btn">
                        <button type="button" id="btn-create-room" >Tạo phòng</button>
                    </div>
                </div>
                <div class="hide" id="next-step" step="2">
                    <h1 class="id-room text-center"></h1>
                    <input type="text" placeholder="Nhập tên" id="username">
                    <a href="javascript:;" style="display: block;text-align:right" id="btn-next-step">Bắt đầu &rarr;</a>
                </div>
            </form>
            <div class="queue-room hide" step="2">
               <div class="room-brand" id="list-user-queue">
                   
               </div>
               <div class="room-status hide">
                   <p><span id="total-user">00</span>/<span id="limit-user">00</span></p>
                   <button class="btn-sm" id="btn-start-game" style="margin-left: 5px" id="startGame">Bắt đầu</button>
               </div>
               <div class="room-footer">
                   <div id="room-name">

                   </div>
               </div>
            </div>
        </div>
        <div class="game hide">
                <div class="header">
                    <div class="process-bar">
                        <div class="process"></div>
                    </div>
                    <div class="header-main bg-success">
                        <div class="title-question">
                            Loading...
                        </div>
                    </div>
                </div>
        
                <div class="main container" id="list-answers">
                    <div class="box-answer">
                        <div class="box-main" index="0" onclick="checkAns(this)">
                            <p class="title-answer" id="ans"></p>
                        </div>
                    </div>
                    <div class="box-answer">
                        <div class="box-main" index="1" onclick="checkAns(this)">
                            <p class="title-answer" id="ans"></p>
                        </div>
                    </div>
                    <div class="box-answer">
                        <div class="box-main" index="2" onclick="checkAns(this)">
                            <p class="title-answer" id="ans"></p>
                        </div>
                    </div>
                    <div class="box-answer">
                        <div class="box-main" index="3" onclick="checkAns(this)">
                            <p class="title-answer" id="ans"></p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="main container hide" view="rank">
            <table class="boardScore">
                <thead>
                    <th>Rank</th>
                    <th class="text-left">Name</th>
                    <th>Score</th>
                </thead>
                <tbody class="viewRank">
                    <tr>
                        <td colspan="3">Loading...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="./assets/js/game.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./assets/js/script.js"></script>
</body>
</html>