@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Josefin+Sans&family=Bitter&family=Open+Sans&family=Sriracha&display=swap');
*{
    padding:0;
    margin:0;
    /* font-family: 'Josefin Sans', sans-serif!important; */
}
html,body{height: 100%}
body{
    font-size: 14px;
    font-family: 'Bitter', serif;
    background-color: #eefcf5;
}

.title-question{
    font-size:  30px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin: 0px 20px;
    text-transform: capitalize;
}

.title-answer{
    font-size: 25px;
    text-transform: capitalize;
}

.process-bar{
    width: 100%;
    background-color: #fff;
}

.process{
    width: 76%;
    height: 10px;
    background: #14cdc8;
    animation-name: process;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes process{
    0%{
        width: 100%;
        background-color: #14cdc8;
    }
    30%{
        background-color: #f39c12;
    }
    40%{
        background-color: #ff4c30;
    }
    50%{
        width: 0%;
    }
    60%{
        background-color: #ff4c30;
    }
    70%{
        background-color: #f39c12;
    }
    100%{
        width: 100%;
        background-color: #14cdc8;
    }
}

.loading{
    height: 60px;
    width: 60px;
    border: 5px solid #f6efe9;
    border-top: 5px solid #cdd1e4;
    border-radius: 50%;
    animation: loading 1s linear infinite
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.text-center{
    text-align: center;
}

h1{
    font-family: 'Sriracha', cursive;
    font-size: 24pt;
}

.bg-success{
    background-color: #b7c1ac!important;
}

.bg-danger{
    background-color: #ff4c30!important;
}

.header{
    width: 100%;
}

.container{
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.header-main{
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 7px;
}

.main{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    height: inherit; 
}

.main[view="rank"]{
    align-content: flex-start;
}

table{
    width: 100%;
    margin: 10px 0px 0px;
}

table *{
    text-align: center;
}

table thead{
    font-size: 15pt;
}
table tbody{
    font-size: 14pt;
}
tbody tr,td{
    padding-top: 10px;
}

.text-left{
    text-align: left;
}


.box-answer{
    width: 50%;
}

.box-main{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #006992;
    transition: 0.2s ease;
}

.box-main:hover{
    box-shadow: 1px 2px 4px 0.1px #0d0d0d;
    background-color: #006992;
    color: #eeecf3;
    cursor: pointer;
}

.box{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

input{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid #080e2c;
    text-align: center;
    font-size: 17px;
    font-family: 'Open sans', sans-serif;
    margin-bottom: 7px;
}

form{
    max-width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #dae7e6;
    padding: 20px 35px 15px;
}

.space-btn{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
}

button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 10px;
    padding: 12px 0px 6px 0px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    box-shadow: 1px 2px 0px 1px #000;
}

button:hover{
    padding-top: 10px;
    box-shadow: 1px 2px 0px 0.2px #000;
}

button:focus{
    padding-top: 8px;
    box-shadow: none;
}

.queue-room{
    position: relative;
    display: flex;
    align-self: flex-start;
    height: inherit;
    width: 100%;
}

.room-brand{
    margin: 20px 0px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.room-brand p{
    margin: 0px 20px;
    float: left;
}

@media (min-width: 200px) {
    .room-brand p{
        font-size: 13pt;
        margin: 0px 10px;
    }
}

@media (min-width: 1000px) {
    .room-brand p {
        font-size: 23pt;
    }
}

.room-footer{
    position:absolute;
    bottom: 10px;
    font-size: 30pt;
    width: inherit;
    text-align: center;
    font-family: 'Sriracha', cursive;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 200px){
    .room-footer{
        font-size: 20pt;
    }
}

.room-status{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin: 10px;
}

.game{
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.game .main{
    height: unset
}

.hide{
    display: none;
}

.btn-sm{
    padding: 7px 10px 4px;
    margin: unset;
    width: unset;
    font-size: 13px;
    font-family: 'Sriracha', cursive;
}

.btn-sm:hover{
    padding-top: 5px;
    box-shadow: 1px 2px 0px 0.3px #000;
}
.btn-sm:focus{
    box-shadow: none;
}

#btn-start-game{
    position: relative;
    background-color: #b7f4d8;
    box-shadow: 1px 2px 0px 0.5px #56a187;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /*safari*/
}
#btn-start-game:hover{
    padding: 7px 10px 4px;
    box-shadow: 0.5px 1px 0px 0.5px #56a187;
}

#btn-start-game::after{
    content: "";
    opacity: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px #67809f;
}

#btn-start-game:active::after{
    box-shadow: 0 0 0 0 #67809f;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

#btn-start-game:active{
    top: 1px;
}

.size-l{
    height: 20px;
}