@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Josefin+Sans&family=Bitter&family=Open+Sans&family=Sriracha&display=swap');

* {
  padding: 0;
  margin: 0;
  /* font-family: 'Josefin Sans', sans-serif!important; */
}

html,
body {
  height: 100%;
}

body {
  font: 16px 'Bitter', serif;
  background: #eefcf5;
}

form{
  margin-bottom: 10px;
}

.title-question {
  font: 30px 'Open Sans', sans-serif;
  text-align: justify;
  margin: 0px 20px;
  text-transform: capitalize;
}

.title-answer {
  font-size: 25px;
  text-transform: capitalize;
}

.process-bar {
  background: #fff;
  width: 100%;
}

.process {
  width: 76%;
  height: 10px;
  background: #14cdc8;
  animation-name: process;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes process {
  0% {
    width: 100%;
    background-color: #14cdc8;
  }

  30% {
    background-color: #f39c12;
  }

  40% {
    background-color: #ff4c30;
  }

  50% {
    width: 0%;
  }

  60% {
    background-color: #ff4c30;
  }

  70% {
    background-color: #f39c12;
  }

  100% {
    width: 100%;
    background-color: #14cdc8;
  }
}

.loading {
  height: 60px;
  width: 60px;
  border: 5px solid #f6efe9;
  border-top: 5px solid #cdd1e4;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center;
}

h1 {
  font: 24pt 'Sriracha', cursive;
}

.bg-success {
  background: #b7c1ac!important;
}

.bg-danger {
  background: #ff4c30!important;
}

.header {
  width: 100%;
}

.container {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

.header-main {
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 7px;
}

label{
  margin-bottom: 7px;
}

.main {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  height: inherit;
}

.main select{
  text-align: center;
  padding: 7px 0;
  font-size: 15px;
}

.main[view="rank"] {
  align-content: flex-start;
}

table {
  width: 100%;
  margin: 10px 0px 0px;
}

table * {
  text-align: center;
}

table thead {
  font-size: 15pt;
}

table tbody {
  font-size: 14pt;
}

tbody tr,
td {
  padding-top: 10px;
}

.text-left {
  text-align: left;
}

.box-answer {
  width: 50%;
}

.box-main {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #006992;
  transition: 0.2s ease;
}

.box-main:hover {
  background: #006992;
  box-shadow: 1px 2px 4px 0.1px #0d0d0d;
  color: #eeecf3;
  cursor: pointer;
}

.box {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

input {
  font: 17px 'Open sans', sans-serif;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid #080e2c;
  text-align: center;
  margin-bottom: 7px;
}

.form {
  background: #dae7e6;
  max-width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 35px 15px;
}

.space-btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-end;
}

button {
  font: 18px 'Bangers', cursive;
  width: 100%;
  outline: none;
  border: none;
  text-transform: capitalize;
  border-radius: 10px;
  padding: 12px 0px 6px 0px;
  margin-bottom: 10px;
  cursor: pointer;
  letter-spacing: 2px;
  box-shadow: 1px 2px 0px 1px #000;
}

button:hover {
  padding-top: 10px;
  box-shadow: 1px 2px 0px 0.2px #000;
}

button:focus {
  padding-top: 8px;
  box-shadow: none;
}

.queue-room {
  position: relative;
  display: flex;
  align-self: flex-start;
  height: inherit;
  width: 100%;
}

.room-brand {
  margin: 20px 0px;
  /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.room-brand p {
  margin: 0px 20px;
  float: left;
}

@media (min-width: 200px) {
  .room-brand p {
    font-size: 13pt;
    margin: 0px 10px;
  }
}

@media (min-width: 1000px) {
  .room-brand p {
    font-size: 23pt;
  }
}

.room-footer {
  font: 500 30pt 'Sriracha', cursive;
  position: absolute;
  bottom: 10px;
  width: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 200px) {
  .room-footer {
    font-size: 20pt;
  }
}

.room-status {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin: 10px;
}

.game {
  height: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.game .main {
  height: unset;
}

.hide {
  display: none;
}

.btn-sm {
  font: 13px 'Sriracha', cursive;
  padding: 7px 10px 4px;
  margin: unset;
  width: unset;
}

.btn-sm:hover {
  padding-top: 5px;
  box-shadow: 1px 2px 0px 0.3px #000;
}

.btn-sm:focus {
  box-shadow: none;
}

#btn-start-game {
  background: #b7f4d8;
  position: relative;
  box-shadow: 1px 2px 0px 0.5px #56a187;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  /*safari*/
}

#btn-start-game:hover {
  padding: 7px 10px 4px;
  box-shadow: 0.5px 1px 0px 0.5px #56a187;
}

#btn-start-game::after {
  content: "";
  opacity: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px #67809f;
}

#btn-start-game:active::after {
  box-shadow: 0 0 0 0 #67809f;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

#btn-start-game:active {
  top: 1px;
}

.size-l {
  height: 20px;
}

.btn-a{
  font-family: unset;
  border: none;
  font-size: 13px;
  color: blue;
  text-decoration: underline;
  background-color: unset;
  box-shadow: unset;
  padding: unset;
  margin: unset;
}

.btn-a:hover{
  box-shadow: unset;
  margin: unset;
  padding:unset;
}

.btn-a:focus {
  padding-top: unset;
  box-shadow: usnet;
}

.grid{
  display: flex;
  flex-direction: row;
}

select{
  margin-bottom: 7px;
}

.group-input{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}

.group-input label{
  width: 100%;
}

.group-input input,span{
  padding: 7px 5px;
  margin: unset;
  border: unset;
  border-radius: unset;
  background-color: #fff;
  font-size: 15px;
}
.group-input span{
  font-size: 16.8px;
}