<div class="modal hide">
    <div class="modal-content">
        <div class="modal-head">Tiêu đề</div>
        <div class="modal-body">
            
        </div>
        <div class="modal-foot">
            <button class="btn bg-success">Lưu</button>
            <label for="autosave">
                <input type="checkbox" checked name="autosave" id="autosave">
                Tự động lưu
            </label>
        </div>
    </div>
</div>