<div class="modal hide">
    <div class="modal-content">
        <div class="modal-head">Tiêu đề</div>
        <div class="modal-body">
            <form>
                <h3></h3>
                <div class="row">
                    <label for="a1" class="col-3">
                        <input type="radio" id="a1" name="a">
                        <span>1. </span>
                    </label>
                    <label for="a2" class="col-3">
                        <input type="radio" id="a2" name="a">
                        <span>2. </span>
                    </label>
                    <label for="a3" class="col-3">
                        <input type="radio" id="a3" name="a">
                        <span>3. </span>
                    </label>
                    <label for="a4" class="col-3">
                        <input type="radio" id="a4" name="a">
                        <span>4. </span>
                    </label>
                </div>
                
            </form>
        </div>
        <div class="modal-foot">
            <button class="btn bg-success">Lưu</button>
            <label for="autosave">
                <input type="checkbox" checked name="autosave" id="autosave">
                Tự động lưu
            </label>
        </div>
    </div>
</div>