<div class="modal hide">
    <div class="modal-content">
        <div class="modal-head">Tiêu đề</div>
        <div class="modal-body">
            <form onsubmit="save();return false" id="create-question">
                <input type="text" placeholder="Nhập câu hỏi..." name="question-name">
                <div class="row">
                    <label for="a1" class="col-6 center  flex  nowrap">
                        <input type="radio" id="a1" name="a" checked>
                        <input type="text" placeholder="Nhập đáp án 1..." id="ia1" name="ia1[]">
                    </label>
                    <label for="a2" class="col-6 center  flex  nowrap">
                        <input type="radio" id="a2" name="a">
                        <input type="text" placeholder="Nhập đáp án 2..." id="ia2" name="ia2[]">
                    </label>
                    <label for="a3" class="col-6 center  flex  nowrap">
                        <input type="radio" id="a3" name="a">
                        <input type="text" placeholder="Nhập đáp án 3..." id="ia3" name="ia3[]">
                    </label>
                    <label for="a4" class="col-6 center  flex  nowrap">
                        <input type="radio" id="a4" name="a">
                        <input type="text" placeholder="Nhập đáp án 4..." id="ia4" name="ia4[]">
                    </label>
                </div>
                <input type="submit" hidden>
            </form>
        </div>
        <div class="modal-foot">
            <button class="btn bg-success">Lưu</button>
            <label for="autosave">
                <input type="checkbox" checked name="autosave" id="autosave">
                Tự động lưu
            </label>
        </div>
    </div>
</div>