<div class="logo">
    <img src="./assets/imgs/logo_128_128.png">
    <div class="logo-title">@<%- name -%></div>
</div>
<ul class="menu">
    <li>
        <a href="/admin">Bảng Chính</a>
    </li>
    <li>
        <a href="/admin/users">Thành viên</a>
    </li>
    <li>
        <a href="/admin/questions">Câu hỏi</a>
    </li>
    <li>
        <a href="/admin/items">Vật phẩm</a>
    </li>
    <li>
        <a href="/admin/levels">Các cấp</a>
    </li>
</ul>