<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/admin/templates/header')-%>
</head>
<body onload="getAllQuestions()">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <%- include('../../partials/admin/templates/navbar')-%>
                </div>
                <div class="col-5">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <th>ID</th>
                                <th>CÂU HỎI</th>
                                <th>CHỦ ĐỀ</th>
                                <th></th>
                            </thead>
                            <tbody>
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/admin/templates/modal')-%>
    <%- include('../../partials/admin/templates/footer') -%>
    <script>
        var questions = [], pagi = new Pagination()
        const getAllQuestions = ()=>{
            axios({
                method: 'get',
                url: '/api/question',
                Authorization: ``,
            }).then(res => {
                questions = res.data.result
                pagi.init(questions, 0, 10)
                changePage(0)
            })
        }
        const printListQuestion = (questions) => {
            $('tbody').html('')
            questions.forEach(question => {
                    $('tbody').append(`
                    <tr>
                        <td>${question._id}</td>
                        <td>${question.q}</td>
                        <td>
                            ${question.topic}
                        </td>
                        <td>
                            <button class="btn btn-rounded btn-outlined bg-success" onclick="view('${question._id}', 'q')">
                                <i class="bi bi-info"></i>
                            </button>
                            <button class="btn btn-rounded btn-outlined bg-warning">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button class="btn btn-rounded btn-outlined bg-danger">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>
                    </tr>
                    `)
                });
        }
        const changePage = (i) => {
            pagi.changePage(i)
            printListQuestion(pagi.dataPage())
            printPagination(pagi.makePagination())
        }
        const printPagination = (html)=>{
            $('tfoot tr td').html(html)
        }
    </script>
    <script src="/assets/js/modal.js"></script>
</body>
</html>