<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/admin/templates/header')-%>
</head>
<body onload="process('q', 'list')">
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-1">
                    <%- include('../../partials/admin/templates/navbar')-%>
                </div>
                <div class="col-5">
                    <div class="table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="4">
                                        Bộ câu hỏi
                                        <button class="btn bg-warning"  onclick="process('q', 'create')">Tạo câu hỏi</button>
                                    </th>
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <th>CÂU HỎI</th>
                                    <th>CHỦ ĐỀ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/admin/templates/modal')-%>
    <%- include('../../partials/admin/templates/footer') -%>
    <script src="/assets/js/modal.js"></script>
</body>
</html>